#cy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../imgs/6927874-space-the-stars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

Input[Type="Text"] {
                    Background: #F5F5F5;
                    Position: Absolute;
                    Text-Align: Center;
                    Line-Height: 40Px;
                    Color: #303030;
                    Border: None;
                    Width: 300Px;
                    Left: 50Px;
                    Top: 50Px;
}

Input[Type="Text"]:Hover {
                          Background: #F0F0F0;
                          Cursor: Text;
}

Input[Type="Text"]:Focus {
                          Border: 1Px Solid #2896CC;
                          Color: #2896CC;
}

Input[Type="Password"] {
                        Background: #F5F5F5;
                        Position: Absolute;
                        Text-Align: Center;
                        Line-Height: 40Px;
                        Color: #303030;
                        Border: None;
                        Width: 300Px;
                        Left: 50Px;
                        Top: 100Px;
}

Input[Type="Password"]:Hover {
                              Background: #F0F0F0;
                              Cursor: Text;
}

Input[Type="Password"]:Focus {
                              Border: 1Px Solid #2896CC;
                              Color: #2896CC;
}

Input:Focus {
             Outline: None;
}

.Login-Form {
             Box-Shadow: 10Px 10Px 10Px #E0E0E0;
             Animation-Name: Login-Form;
             Animation-Duration: 4s;
             Background: #FFFFFF;
             Position: Absolute;
             Height: 260Px;
             Margin: Auto;
             Width: 400Px;
             Bottom: 0Px;
             Right: 0Px;
             Left: 0Px;
             Top: 0Px;
}

@KeyFrames Login-Form {
                       0% { Left: -200%;}
}

.Button {
         Background: #2896CC;
         Position: Absolute;
         Line-Height: 40Px;
         Color: #FFFFFF;
         Border: None;
         Width: 300Px;
         Left: 50Px;
         Top: 150Px;
}

.Button:Hover {
               Background: #287ACC;
               Cursor: Pointer;
}

.Recovery-Text {
                Position: Absolute;
                Color: #303030;
                Left: 50Px;
                Top: 190Px;
}

.Recovery-Link {
                Text-Decoration: None;
                Color: #2896CC;
}

.Recovery-Link:Hover {
                      Text-Decoration: Underline;
}


body {
  background:url("http://f.cl.ly/items/0m1s041Z2e0E1J2v2I3M/Galaxy_dark2.jpg") no-repeat center center fixed;
}