#cy {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('../imgs/metalBackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@font-face {
    font-family: 'Chalks';
    src: url(../fonts/KGTenThousandReasons.ttf);
}

body {
  font-family: 'Chalks';
  background: 'white';
}

.markdownParser {
  font-family: "Chalks";
  background: 'white';
}

.cxtmenu-content {

  font-family: "Chalks";
  background: 'white';
}

.cxtmenu-disabled {
  background: url('../imgs/metalBackground.jpg')
}