#cy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://s33.postimg.org/mda7anda7/6927874_space_the_stars.jpg);
  background-repeat: no-repeat;
  background-size: 100%
}